<section class = "section">
    <h2 class = "heading">
        ✨ Our Categories ✨
    </h2>
    <div class = "card-container">
        @for (category of categories; track category._id) {
            <div class = "card">
                <div
                    class = "card-link"
                >
                    <div class = "card-content">
                        <img
                            class = "card-image"
                            [src] = "category.image"
                            [alt] = "category.name"
                        />
                        <div class = "card-info">
                            <div class = "px-3 py-2 text-lg text-gray-700 dark:text-gray-300">
                                <p class = "mt-1">
                                    <strong class = "product-category-label">Category:</strong>
                                    {{ category?.name || 'Unknown' }}
                                </p>
                                <p class = "mt-2">
                                    <strong class = "product-brand-label">Slug:</strong>
                                    {{ category?.slug || 'No Brand' }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
