<router-outlet></router-outlet>
@if (showScrollButton) {
    <button
        (click) = "scrollToTop()"
        aria-label = "Scroll to top"
        class = "scroll-up"
    >
        <i class = "fas fa-arrow-up text-lg"></i>
    </button>
}
<ngx-spinner
    [fullScreen] = "true"
    bdColor = "rgba(0, 0, 0, 0.5)"
    color = "#fff"
    size = "medium"
    template = '
    <div class="spinner-container">
        <div class="flex flex-row justify-center items-center">
        <img src="/images/logo.svg" alt="Loading..." class=" w-[30%]" />
        <img src="/images/creativemarket.svg" alt="Loading..." class="spinner-logo" />
        </div>
        <div class="ball-beat-loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p class="loading-text">Loading...</p>
    </div>'
    type = "ball-beat"
>
</ngx-spinner>
