<section>
    <div class = "gradient-bg">
        <owl-carousel-o [options] = "customOptionsMain">
            @for (image of images; track $index) {
                <ng-template carouselSlide>
                    <img
                        alt = ""
                        class = "carousel-img"
                        [src] = "image"
                    />
                </ng-template>
            }
        </owl-carousel-o>
    </div>
</section>
<section class = "section-container">
    <h2 class = "section-heading">✨ Popular Categories ✨</h2>
    <owl-carousel-o [options] = "customOptionsCategories">
        @for (category of categories; track category._id) {
            <ng-template carouselSlide>
                <div class = "category-card">
                    <img
                        [src] = "category.image"
                        class = "category-img"
                        [alt] = "category.name"
                    />
                    <h3 class = "category-title">{{ category.name }}</h3>
                </div>
            </ng-template>
        }
    </owl-carousel-o>
</section>
<section class = "section">
    <h2 class = "heading">
        ✨ Popular Products ✨
    </h2>
    <form class = "search-form">
        <label
            class = "search-label"
            for = "default-search"
        >Search</label>
        <div class = "search-container">
            <div class = "search-icon">
                <svg
                    aria-hidden = "true"
                    class = "w-4 h-4 text-gray-500 dark:text-gray-400"
                    fill = "none"
                    viewBox = "0 0 20 20"
                    xmlns = "http://www.w3.org/2000/svg"
                >
                    <path
                        d = "m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                        stroke = "currentColor"
                        stroke-linecap = "round"
                        stroke-linejoin = "round"
                        stroke-width = "2"
                    />
                </svg>
            </div>
            <input
                [(ngModel)] = "searchInput"
                class = "search-input"
                id = "default-search"
                name = "searchInput"
                placeholder = "Search Men's Fashion, Women's Fashion..."
                required
                type = "search"
            />
        </div>
    </form>
    <div class = "card-container">
        @for (product of products.slice(0, 12) | search :searchInput; track product.id) {
            <div class = "card">
                <div
                    class = "card-link"
                >
                    <div class = "card-content">
                        <img
                            [routerLink] = "['/details', product.id]"
                            class = "card-image"
                            [src] = "product.imageCover"
                            [alt] = "product.title"
                        />
                        <div class = "card-info">
                            <div class = "brand-details-list">
                                <div class = "brand-detail-item">
                                    <span class = "brand-name ">{{ product.title.split(" ", 2).join(" ") | titlecase }}</span>
                                </div>
                                <div class = "brand-detail-item">
                                    <span class = "detail-label">Category:</span>
                                    <span class = "detail-value">{{ product.category?.name || 'Unknown'  | titlecase }}</span>
                                </div>
                                <div class = "brand-detail-item">
                                    <span class = "detail-label">Brand:</span>
                                    <span class = "detail-value">{{ product.brand.name| titlecase }}</span>
                                </div>
                            </div>
                            <div class = "card-footer">
                                <div class = "card-price">
                                    {{ product.price | currency:'GBP':'symbol':'1.2-2' }}
                                </div>
                                <div class = "card-rating flex items-center">
                                    <div class = "flex">
                                        @for (n of [ 1, 2, 3, 4, 5 ]; track n) {
                                            @if (n <= Math.floor(product.ratingsAverage)) {
                                                <i class = "fa fa-star text-yellow-400"></i>
                                            } @else if (n - 0.5 <= product.ratingsAverage) {
                                                <i class = "fa fa-star-half-alt text-yellow-400"></i>
                                            } @else {
                                                <i class = "fa fa-star text-gray-300"></i>
                                            }
                                        }
                                    </div>
                                    <span class = "text-gray-800 font-medium dark:text-white mr-2">{{ product.ratingsAverage }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "pt-2 flex justify-center items-center gap-[3%]">
                    <button
                        (click) = "addProductToCart(product.id)"
                        class = "add-to-cart-btn-product"
                    >
                        Add To Cart
                    </button>
                    <button
                        (click) = "addProductToWishlist(product.id)"
                        class = "wishlist-btn"
                    >
                        <i class = "fa fa-heart"></i>
                    </button>
                </div>
            </div>
        }
    </div>
</section>
